@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --red: #b61a1a;
  --blue: #6eadd4;
  --teal: #4aada9;
  --dark: #2f3a49;
  --light: rgba(255,255,255,0.8);
}

body {
    font-family: 'Baloo Paaji 2', cursive;
		color: var(--dark);
		background: var(--dark);
		background: rgba(0, 0, 0, 0) linear-gradient(45deg, rgb(45, 54, 76) 0%, rgb(37, 45, 63) 100%) repeat scroll 0% 0%;
}

.AppBg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}