.header {
	padding: 0.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: var(--light);
}

.header__title {
  margin: 0 1rem;
}

.header i {
	font-size: 1.6rem;
	margin-top: -0.275rem;
}