.WeatherCard {
  text-align: center;
}

.WeatherCard--current {
  /* background: linear-gradient(to right, #fff, #e07768); */
	/* box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 1); */
	/* background-image: url('../images/bg-sm.jpg');
	background-position: center;
	background-repeat: no-repeat; */
	/* background-size: cover; */
	position: relative;
	z-index: 1;
	text-align: left;
	padding: 0.5rem 1rem;
	height: 13rem;
	/* color: #fff; */
}

.WeatherCard--current .WeatherCard__description,
.WeatherCard--current .WeatherCard__feel {
	color: var(--light);
	color: #fff;
	line-height: 1.3rem;
}

.WeatherCard--current .WeatherCard__icon {
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
}

.WeatherCard--current .WeatherCard__icon i {
	font-size: 2.4rem;
	color: #fff;
}

.WeatherCard--current .WeatherCard__icon img {
	width: 4rem;
}

.WeatherCard--current .WeatherCard__temp {
	margin-top: 3rem;
	font-size: 2rem;
	color: white;
	line-height: 2rem;
	display: flex;
	align-items: center;
}

.WeatherCard--current .WeatherCard__temp i {
	margin-left: 0.5rem;;
	font-size: 2.2rem;
}

.react-icons {
  vertical-align: middle;
}

.WeatherCard--current .overlay {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/* background: url('../images/bg-sm.jpg') center center; */
	/* background-color: rgba(248, 247, 216, 0.7); */
	background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0)), url('../images/bg-sm.jpg');
	background-position: center;
	background-repeat: no-repeat;
	
}

.overlay-dark {
	position: absolute;
	background: rgba(47, 58, 73, 0.2);
	height: 6rem;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	border-top: 1px dotted;
}

.WeatherCard--daily .WeatherCard__temp,
.WeatherCard--hourly .WeatherCard__temp {
	/* display: flex; */
	/* justify-content: center; */
}

.WeatherCard--daily .WeatherCard__temp,
.WeatherCard--hourly .WeatherCard__temp,
.WeatherCard--daily .WeatherCard__temp i,
.WeatherCard--hourly .WeatherCard__temp i {
	font-weight: bold;
	color: #590000;
}

.WeatherCard--daily .WeatherCard__temp i,
.WeatherCard--hourly .WeatherCard__temp i {
	font-weight: bold;
	transform: translateY(0.2rem);
	margin-left: 0.2rem;;
}

.WeatherCard__min {
	font-size: 0.8rem;
}

.WeatherCard--daily .WeatherCard__icon,
.WeatherCard--hourly .WeatherCard__icon {
	font-size: 2.5rem;
}

.WeatherCard__description {
	/* color: var(--light); */
}