.WeatherDashboard {
	text-align: center;
	position: relative;
}

.WeatherDashboard h3 {
  padding: 0.5rem 0;
  color: var(--light);
}

.WeatherDashboard__daily {
  background: var(--blue);
}

.WeatherDashboard__daily h3 {
  background: #397da7;
}

.WeatherDashboard__hourly {
  background: var(--teal);
}

.WeatherDashboard__hourly h3 {
  background: #2c7b78;
}

.carousel {
	min-height: 12rem;
	padding-top: 1rem;
}
.carousel .slide {
	background: transparent;
}

.WeatherDashboard .WeatherDashboard__prev,
.WeatherDashboard .WeatherDashboard__next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 0;
	padding: .375rem .75rem;
	font-size: 1.5rem;
	line-height: 1.5;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	color: var(--light);
	background-color: transparent;
	cursor: pointer;
}

.WeatherDashboard .WeatherDashboard__prev:hover,
.WeatherDashboard .WeatherDashboard__next:hover {
	color: var(--dark);
} 

.WeatherDashboard .WeatherDashboard__prev {
	left: 0;
}

.WeatherDashboard .WeatherDashboard__next {
	right: 0;
}